<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" ng-app="produtoApp">

<head>
  
  <meta charset="utf-8">
  <title>Projeto E-commerce - Java Spring</title>
  
  
  <link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="./css/style.css" type="text/css" media="all" />
  
  <!--[if lte IE 6]><style type="text/css" media="screen">.tabbed { height:420px; }</style><![endif]-->
  <script src="./js/jquery-1.4.1.min.js" type="text/javascript"></script>
  <script src="./js/jquery.jcarousel.pack.js" type="text/javascript"></script>
  <script src="./js/jquery.slide.js" type="text/javascript"></script>
  <script src="./js/jquery-func.js" type="text/javascript"></script>
  <script src="./js/angular.min.js"></script>
  <script src="./js/angular-locale_pt-br.js"></script>
  <script src="./controllers/PaginaInicialController.js"></script>
</head>

<body ng-controller="PgInicioController">
  <!-- Main -->
  <div id="main">
    <div class="shell">
      <!-- Search, etc -->
      <div class="options">
        <span class="left"><a href="#">Projeto de e-commerce</a></span>

        <span class="left" style="margin-left: 20px;"><a href="CadastroProduto.html">Cadastrar produto</a></span>
        <div class="right"> 
          <span class="cart"> 
            <a title="Ver carrinho de compras" href="Carrinho.html" class="cart-ico">&nbsp;</a>
            <strong> {{valorCarrinho | currency:'R$ '}} </strong> 
          </span> 
        </div>
      </div>
      <div id="content">
        <!-- Tabs -->
        <div class="tabs">
          <ul>
            <li><a href="#" class="active"><span>Destaques</span></a></li>
            <li><a href="#"><span>Adulto</span></a></li>
            <li><a href="#" class="red"><span>Infantil</span></a></li>
          </ul>
        </div>
        <!-- Tabs -->
        <!-- Container -->
        <div id="container">
          <div class="tabbed">
            <!-- First Tab Content -->
            <div class="tab-content" style="display:block;">
              <div class="items">
                <div class="cl">&nbsp;</div>
                <ul>
                  <li ng-repeat="x in listaProduto | filter: {aba: 1}">
                    <div class="image"> <a href="#"><img src="./css/images/image{{ x.imagem }}.jpg" alt="" /></a> </div>
                    <p> Item: <span>{{ x.id }}</span><br />
                      Tamanho: <span>{{ x.descricao }}</span><br />
                      Nome: <a href="#">{{ x.nome }}</a> </p>
                    <p class="price">Preço: <strong>{{ x.preco | currency:'R$ '}}</strong></p>
                    <div class="text-sm-center">
                      <button type="button" class="btn btn-sm btn-warning"
                        title="Adicionar ao carrinho" ng-click="adicionarProduto(x)">Adicionar</button>
                    </div>
                  </li>
                </ul>
                <div class="cl">&nbsp;</div>
              </div>
            </div>
            <!-- End First Tab Content -->
            <!-- Second Tab Content -->
            <div class="tab-content">
              <div class="items">
                <div class="cl">&nbsp;</div>
                <ul>
                  <li ng-repeat="x in listaProduto | filter: { aba : 2}">
                    <div class="image"> <a href="#"><img src="./css/images/image{{ x.imagem }}.jpg" alt="" /></a> </div>
                    <p> Item: <span>{{ x.id }}</span><br />
                      Tamanho: <span>{{ x.descricao }}</span><br />
                      Nome: <a href="#">{{ x.nome }}</a> </p>
                    <p class="price">Preço: <strong>{{ x.preco | currency:'R$ '}}</strong></p>
                    <div class="text-sm-center">
                      <button type="button" class="btn btn-sm btn-warning"
                      title="Adicionar ao carrinho" ng-click="adicionarProduto(x)">Adicionar</button>
                    </div>
                  </li>
                </ul>
                <div class="cl">&nbsp;</div>
              </div>
            </div>
            <!-- End Second Tab Content -->
            <!-- Third Tab Content -->
            <div class="tab-content">
              <div class="items">
                <div class="cl">&nbsp;</div>
                <ul>
                  <li ng-repeat="x in listaProduto | filter: { aba : 3}">
                    <div class="image"> <a href="#"><img src="./css/images/image{{ x.imagem }}.jpg" alt="" /></a> </div>
                    <p> Item: <span>{{ x.id }}</span><br />
                      Tamanho: <span>{{ x.descricao }}</span><br />
                      Nome: <a href="#">{{ x.nome }}</a> </p>
                    <p class="price">Preço: <strong>{{ x.preco | currency:'R$ '}}</strong></p>
                    <div class="text-sm-center">
                      <button type="button" class="btn btn-sm btn-warning"
                      title="Adicionar ao carrinho" ng-click="adicionarProduto(x)">Adicionar</button>
                    </div>
                  </li>
                </ul>
                <div class="cl">&nbsp;</div>
              </div>
              
            </div>
            
            <!-- End Third Tab Content -->
          </div>
          <!-- Brands -->
          <div class="brands">
            <h3>Brands</h3>
            <div class="logos"> <a href="#"><img src="./css/images/logo1.gif" alt="" /></a> <a href="#"><img
                  src="./css/images/logo2.gif" alt="" /></a> <a title="" href="#"><img src="./css/images/logo3.gif" alt="" /></a> <a
                href="#"><img src="./css/images/logo4.gif" alt="" /></a> <a title="" href="#"><img src="./css/images/logo5.gif"
                  alt="" /></a> </div>
          </div>
          <!-- End Brands -->
          <!-- Footer -->
          <div id="footer">
            <div class="left"> <a href="#">Home</a> <span>|</span> <a href="#">Support</a> <span>|</span> <a href="#">My
                Account</a> <span>|</span> <a href="#">The Store</a> <span>|</span> <a href="#">Contact</a> </div>
            <div class="right"> &copy; Sitename.com. Design by <a
                href="http://chocotemplates.com">ChocoTemplates.com</a> </div>
          </div>
          <!-- End Footer -->
        </div>
        <!-- End Container -->
      </div>
      <!-- End Content -->
    </div>
  </div>
  <!-- End Main -->
</body>

</html>